.descriptionText {
  font-size: 16px;
  font-weight: 300;
  font-family: $poppins;
  color: $brown;
  margin-top: 8px;
  margin-bottom: 10px;
  max-width: 200px;
  width: 100%;
}
.priceText {
  font-size: 20px;
  font-family: $poppins;
  color: $green1;
  font-weight: 600;
}
.popularAddImg {
  height: 250px;
  width: 308px;
  background-size: cover;
  transition: transform 0.25s;
  margin-bottom: 10px;
}
.fullcard {
  margin-bottom: 50px;
  width: min-content;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;

  &:hover .popularAddImg {
    transform: scale(1.1);
  }
}

@include mobile {
  .descriptionText {
    font-size: 13px;
  }
  .priceText {
    font-size: 16px;
  }
  .popularAddImg {
    height: 100%;
    width: 100%;
  }
  .fullcard {
    height: 210px;
    width: 100%;
  }
}

@include tablet-portrait {
  .descriptionText {
    font-size: 14px;
  }
  .priceText {
    font-size: 18px;
  }
  .popularAddImg {
    height: 100%;
    width: 100%;
  }
  .fullcard {
    height: 260px;
    width: 100%;
  }
}

@include tablet-landscape {
  .descriptionText {
    font-size: 14px;
  }
  .priceText {
    font-size: 18px;
  }
  .popularAddImg {
    height: 100%;
    width: 100%;
  }
  .fullcard {
    height: 260px;
    width: 100%;
  }
}
