.loginPageConatiner {
    background-color:$darkblue;
    height: 100vh;
   position: relative;
   overflow-y: hidden;
      .leftSectionLogin {
        background-repeat: no-repeat;
        background-size: cover;
        height: 490px;
        width: 100%;
        position: absolute;
       top: 32%;
       left: 0px;
      }
      .logo {
        height: 55px;
        margin-top: 16px;
        margin-left: 16px;
      }
      
          }
        
  
  