.headerMaincontainer {
    height:64px;
    background-color:$white;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        height: 44px;
    }
    .logoHeader {
        height: 28px;
        margin-left: 3px;
    }
}