.howItsWorkMainContainer {
  display: flex;
  max-width: 590px;
  flex-direction: column;
  align-items: center;

  .cardSectionOne {
    .cardImg {
      height: 496px;
      width: 590px;
    }
  }

  .cardSectionTwo {
    position: absolute;
    width: 549px;
    height: 134px;
    background-color: $blue3;
    padding: 12px;
    bottom: -60px;

    .titleone {
      font-size: 24px;
      font-weight: 500;
      font-family: $railWay;
      color: $white;
      margin: 0 !important;
    }
    .cardBtn {
      height: 56px;
      width: 137px;
      background-color: $orange2;
      color: $white;
      //   margin: 0 !important;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: none;
      margin-top: 5px;
      font-size: 15px;
      font-family: $poppins;
      font-weight: 500;

      &:hover,
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }
}

@include mobile {
  .howItsWorkMainContainer {
    display: flex;
    max-width: 330px;
    flex-direction: column;
    align-items: center;
    height: 400px;

    .cardSectionOne {
      .cardImg {
        height: 300px;
        width: 320px;
      }
    }

    .cardSectionTwo {
      width: 278px;
      height: 101px;
      padding: 12px;
      bottom: 51px;

      .titleone {
        font-size: 18px;
      }
      .cardBtn {
        height: 32px;
        width: 94px;
        background-color: $orange2;
        color: $white;
        //   margin: 0 !important;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: none;
        margin-top: 5px;
        font-size: 15px;
        font-family: $poppins;
        font-weight: 500;

        &:hover,
        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }
}

@include tablet-portrait {
  .howItsWorkMainContainer {
    max-width: 335px;

    .cardSectionOne {
      .cardImg {
        height: 346px;
        width: 335px;
      }
    }

    .cardSectionTwo {
      position: absolute;
      width: 294px;
      height: 96px;
      bottom: -40px;

      .titleone {
        font-size: 16px;
      }
      .cardBtn {
        height: 40px;
        width: 130px;
        font-size: 14px;
      }
    }
  }
}

@include tablet-landscape {
  .howItsWorkMainContainer {
    max-width: 430px;

    .cardSectionOne {
      .cardImg {
        height: 390px;
        width: 430px;
      }
    }

    .cardSectionTwo {
      position: absolute;
      width: 304px;
      height: 100px;
      bottom: -40px;

      .titleone {
        font-size: 17px;
      }
      .cardBtn {
        height: 40px;
        width: 130px;
        font-size: 14px;
      }
    }
  }
}
