.mainCont {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  .homeMaincontainer {
    .banner {
      background-repeat: no-repeat;
      background-size: cover;
      overflow-y: auto;
      width: 100%;
      height: 100vh;
      .centerContent {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .bannerLogo {
          height: 53px;
        }
        .centerContentText {
          font-size: 16px;
          font-weight: 400;
          color: $white;
          font-family: $poppins;
          text-align: center;
          margin-top: 16px;
          max-width: 572px;
          width: 100%;
          margin-bottom: 48px;
        }
       
        .serchSection {
          width: 100%;
          max-width: 566px;
          height: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          .orangeSection {
            background-color: $orange2;
            width: 170px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 16px;
            font-weight: 500;
            font-family: $poppins;
            color: $white;
            .down {
              height: 24px;
              width: 24px;
            }
            .searchCategoryText {
              margin: 0;
              font-size: 16px;
              font-weight: 500;
              font-family: $poppins;
              color: $white;
            }
            .menu {
              background-color: red;
            }
          }
          .whiteSection {
            width: 420px;
            height: 64px;
            background-color: $white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-right: 20px;
            padding-left: 20px;

            .search {
              height: 24px;
              width: 24px;
            }
            .searchTextInput {
              border: none;
              margin: 0;
              font-size: 16px;
              font-weight: 500;
              font-family: $poppins;
              color: $gray7;
              // opacity: 1;

              // ::placeholder {
              //     font-size: 16px;
              //     font-weight: 500;
              //     font-family: $poppins;
              //     color: red;
              // }
            }
          }
        }
      }
    }
    .blueconatainer {
      width: 100%;
      background-color: $blue2;
      height: 46px;
      padding-left: 70px;
      padding-right: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .blueContText {
        font-size: 12px;
        font-weight: 600;
        font-family: $poppins;
        color: $white;
        margin: 0;
      }
    }
    // banner styles end

    .middlecontainer {
      background-color: $gray10;
      padding: 90px 72px 90px 72px;

      .discoverCol {
        margin-right: 0px;
      }
      .discoverItemText {
        font-size: 24px;
        font-weight: 700;
        font-family: $railWay;
        color: $black2;
        margin-bottom: 24px;
      }
      .spinnerCont {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .spinner {
        margin-left: 10px;
      }
      .nodataText {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: $gray1;
      }
      .noDataImg {
        height: 100px;
        width: 130px;
      }

      .secondSectionText {
        margin-top: 200px;
      }
      .howItsWorkMobile {
        display: none;
      }
      .thisIsTrendingMobile {
        display: none;
      }
      .addSection {
        display: flex;
        justify-content: center;
        .seeMoreBtn {
          height: 56px;
          max-width: 164px;
          width: 100%;
          background-color: $orange2;
          color: $gray11;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          border: none;
          box-shadow: none;
          margin-top: 78px;
          margin-bottom: 70px;
          &:hover,
          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }
        .forwardIcon {
          height: 24px;
          width: 24px;
          margin-left: 16px;
        }
      }

      .thirdsectionText {
        margin-top: 0;
        margin-left: 0;
      }
      .trendingSection {
        margin-bottom: 103px;
      }
      .howItsWork {
        margin-bottom: 120px;
      }
    }
  }
}

@include mobile {
  .mainCont {
    .homeMaincontainer {
      .banner {
        height: 342px;
        .centerContent {
          height: 342px;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .bannerLogo {
            height: 37px;
            margin-bottom: 20px;
            margin-top: 50px;
          }
          .centerContentText {
            display: none;
            height: 0;
          }
          .serchSection {
            width: 100%;

            .orangeSection {
              display: none;
              height: 0;
            }
            .whiteSection {
              width: 328px;
              height: 44px;

              .search {
                height: 16px;
                width: 16px;
              }
              .searchTextInput {
                font-size: 14px;
                font-weight: 400;
                font-family: $poppins;
                color: $gray7;
              }
            }
          }
        }
      }
      .blueconatainer {
        height: 16px;

        .blueContText {
          display: none;
        }
      }
      // banner styles end

      .middlecontainer {
        padding: 30px 20px 30px 20px;

        .discoverItemText {
          font-size: 16px;
        }

        .secondSectionText {
          margin-top: 70px;
        }
        .howItsWorkWeb {
          display: none;
        }
        .howItsWorkMobile {
          display: flex;
          flex-direction: column;
        }
        .thisIsTrendingWeb {
          display: none;
        }
        .thisIsTrendingMobile {
          display: flex;
          flex-direction: column;
        }
        .addSection {
          display: flex;
          justify-content: center;
          .seeMoreBtn {
            height: 44px;
            max-width: 155px;
            width: 100%;
            font-size: 14px;
            margin-top: 48px;
            margin-bottom: 70px;
          }
          .forwardIcon {
            height: 17px;
            width: 17px;
            margin-left: 16px;
          }
        }

        .thirdsectionText {
          margin-top: 0;
          margin-left: 0;
        }
        .trendingSection {
          margin-bottom: 103px;
        }
        .howItsWork {
          margin-bottom: 120px;
        }
      }

      // footer
      .mainFooterContainer {
        padding: 30px 10px 30px 20px;

        .footerContainer {
          .footerContent {
            .footerMainHead {
              font-size: 16px;
            }
            .footerLink {
              font-size: 14px;
            }
          }
        }
        .socialMediaContainer {
          border: none;
          padding-top: 5px;
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          margin-bottom: 0;
          width: 100%;
          align-items: center;
          justify-content: center;
          .socialMediaSection {
            width: 100%;

            .socialIcon {
              height: 18px;
              width: 18px;
            }
            .line {
              display: none;
            }
          }
          .btnSectionFooter {
            display: none;
          }
        }
        .footerText {
          margin-top: 0px;
          font-size: 16px;
          font-weight: 400;
          color: $gray8;
          text-align: center;
        }
      }
    }
  }
}

@include tablet-portrait {
  .mainCont {
    .homeMaincontainer {
      .banner {
        width: 100%;
        height: 500px;
        .centerContent {
          height: 500px;
          .bannerLogo {
            height: 53px;
          }
          .centerContentText {
            width: 68%;
          }
        }
      }
      .blueconatainer {
        height: 36px;
        padding-left: 20px;
        padding-right: 20px;
      }
      // banner styles end

      .middlecontainer {
        padding: 38px 40px 38px 40px;

        .discoverItemText {
          font-size: 20px;
        }

        .secondSectionText {
          margin-top: 90px;
        }
        .secondSectionText {
          margin-top: 90px;
        }
        .thirdsectionText {
          margin-top: 20px;
          margin-left: 0;
        }
        .trendingSection {
          margin-bottom: 103px;
        }

        .addSection {
          .seeMoreBtn {
            height: 48px;
            max-width: 164px;
            width: 100%;
          }
          .forwardIcon {
            height: 15px;
            width: 15px;
            margin-left: 16px;
          }
        }

        .howItsWork {
          margin-bottom: 130px;
        }
      }

      // footer
      .mainFooterContainer {
        padding: 38px 40px 38px 40px;

        .footerContainer {
          .footerContent {
            .footerMainHead {
              font-size: 16px;
            }
            .footerLink {
              font-size: 14px;
            }
          }
        }
        .socialMediaContainer {
          border: 1.5px solid $gray5;
          height: max-content;
          border-right: none;
          border-left: none;
          padding: 22px;
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          width: 682px;
          .socialMediaSection {
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .socialIcon {
              height: 37px;
              width: 37px;
              margin-right: 20px;
            }
            .line {
              margin-left: 10px;
              margin-right: 40px;
            }
          }
          .btnSectionFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            .FooterBtn {
              height: 40px;
              width: 128px;
              margin-left: 120px;
            }
            .appleBtn {
              margin-left: 20px;
            }
          }
        }
        .footerText {
          margin-bottom: 0px;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

@include tablet-landscape {
  .mainCont {
    .homeMaincontainer {
      .banner {
        width: 100%;
        height: 600px;
        .centerContent {
          height: 600px;
        }
      }
      .blueconatainer {
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
      }
      // banner styles end

      .middlecontainer {
        padding: 50px 50px 50px 50px;

        .discoverItemText {
          font-size: 22px;
        }

        .secondSectionText {
          margin-top: 90px;
        }
        .thirdsectionText {
          margin-top: 20px;
          margin-left: 0;
        }
        .trendingSection {
          margin-bottom: 103px;
        }

        .addSection {
          .seeMoreBtn {
            height: 50px;
            max-width: 170px;
            width: 100%;
          }
          .forwardIcon {
            height: 16px;
            width: 16px;
            margin-left: 16px;
          }
        }

        .howItsWork {
          margin-bottom: 130px;
        }
      }

      // footer
      .mainFooterContainer {
        padding: 50px 50px 50px 50px;

        .footerContainer {
          .footerContent {
            .footerMainHead {
              font-size: 17px;
            }
            .footerLink {
              font-size: 15px;
            }
          }
        }
        .socialMediaContainer {
          .socialMediaSection {
            .socialIcon {
              height: 38px;
              width: 38px;
              margin-right: 20px;
            }
            .line {
              margin-left: 10px;
              margin-right: 0px;
            }
          }
          .btnSectionFooter {
            .FooterBtn {
              height: 40px;
              width: 128px;
              margin-left: 50px;
            }
            .appleBtn {
              margin-left: 30px;
            }
          }
        }
        .footerText {
          margin-bottom: 0px;
          margin-top: 30px;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
