.homeMaincontainer {
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    .centerContent {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .bannerLogo {
        height: 53px;
      }
      .centerContentText {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        font-family: $poppins;
        text-align: center;
        margin-top: 16px;
        max-width: 572px;
        width: 100%;
        margin-bottom: 48px;
       
      }
      .serchSection {
        width: 100%;
        max-width: 566px;
        height: 64px;
        display: flex;
        justify-content:center;
        align-items: center;
        .orangeSection {
          background-color: $orange2;
          width: 170px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 64px;
          padding-right: 20px;
          padding-left: 20px;
          .down {
            height: 24px;
            width: 24px;
          }
          .searchCategoryText{
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: $poppins;
            color: $white;
          }
        }
        .whiteSection {
          width: 420px;
          height: 64px;
          background-color: $white;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px;
          padding-left: 20px;

          .search {
            height:24px;
            width:24px;
          }
          .searchTextInput {
            border: none;
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: $poppins;
            color: $gray7;
            // opacity: 1;

            // ::placeholder {
            //     font-size: 16px;
            //     font-weight: 500;
            //     font-family: $poppins;
            //     color: red;
            // }
          }
        }
      }
    }
  }
  .blueconatainer {
    width: 100%;
    background-color: $blue2;
    height: 46px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
align-items: center;
    .blueContText {
        font-size: 12px;
        font-weight: 600;
        font-family: $poppins;
        color: $white;
        margin: 0;
    }
  }
// banner styles end

  .middlecontainer {
    background-color: $gray10;
    padding: 90px 72px ;


    .discoverItemText {
        font-size: 24px;
        font-weight: 700;
        font-family: $railWay;
        color: $black2;
        margin-bottom: 24px;
    }
  }
}
