.suggetions {
  width: 420px;

  overflow-y: auto;
  z-index: 1000;
  height: 100px;

  background-color: white;
  padding: 15px;

  .serchItemImg {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .serchItemRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
  }
  .serchtitle {
    color: $gray7;
    font-family: $poppins;
    font-size: 12px;
    font-weight: 400;
    margin-bottom:0;
  }
}

@include mobile {
  .suggetions {
    top: 43px;
    height: 80px;
    width:327.5px;
  }
}

@include tablet-portrait {
  .suggetions {
    top: 62px;
    height: 100px;
  }
}

@include tablet-landscape {
  .suggetions {
    top: 62px;
    height: 100px;
  }
}
