.headerContainerMain {
  position: fixed;
  z-index: 99;
  width: 100%;
  .headerMaincontainerProduct {
    width: 100%;
    height: 64px;
    background-color: $white;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    .headerSectionOne {
      display: flex;
      align-items: center;

      .menu {
        height: 44px;
        display: none;
      }
      .logoHeader {
        height: 28px;
        margin-left: 3px;
      }
    }

    .headerSectionTwo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .serchSection {
        width: 100%;
        max-width: 566px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        .orangeSection {
          background-color: $orange2;
          width: 170px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 46px;
          padding-right: 20px;
          padding-left: 20px;
          .down {
            height: 24px;
            width: 24px;
          }
          .searchCategoryText {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: $poppins;
            color: $white;
          }
          .menu {
            background-color: red;
          }
        }
        .whiteSection {
          width: 420px;
          height: 46px;
          background-color: $gray17;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px;
          padding-left: 20px;

          .search {
            height: 24px;
            width: 24px;
          }
          .searchTextInput {
            background-color: $gray17;
            border: none;
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            font-family: $poppins;
            color: $gray7;
            // opacity: 1;

            // ::placeholder {
            //     font-size: 16px;
            //     font-weight: 500;
            //     font-family: $poppins;
            //     color: red;
            // }
          }
        }
      }
      .translateContainer {
        background-color: $gray5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        width: 52px;
        margin-right: 16px;
        .translateImg {
          height: 28px;
          width: 28px;
        }
      }
      .addBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green1;
        height: 34px;
        width: 132px;
        font-size: 14px;
        font-weight: 600;
        font-family: $poppins;
        color: $white;
        border: none;
        margin-right: 20px;
      }
      .addIcon {
        height: 24px;
        width: 24px;
        margin-right: 12px;
      }
      .profileConfimContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .profileContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
        margin-left: 10px;
      }
      .userIcon {
        height: 24px;
        width: 24px;
        margin-right: 15px;
        margin-left: 0px;
      }
      .link {
        font-size: 14px;
        font-weight: 500;
        color: $gray7;
        font-family: $poppins;
        &:hover,
        &:focus {
          color: $orange3;
        }
      }

      .confirmcontainerAfterLogin {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .customLink {
      }

      .mobileHeader {
        display: none;
      }
    }
  }
  .grayContainer {
    width: 100%;
    background-color: $gray18;
    justify-content: space-between;
    height: 49px;
    align-items: center;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    top: 64.4px;

    .iconCont {
      display: flex;
      flex-direction: row;
      align-items: center;
      .hederIcon {
        height: 20px;
        width: 20px;
        margin-right: 16px;
      }
      .hederIconForward {
        height: 16px;
        width: 16px;
        margin-right: 14px;
      }
      .clothsLink {
        color: $gray7;
        font-size: 12px;
        font-weight: 500;
        font-family: $poppins;
      }
     
    }
    .backCont{
      display: none;

      .backlink {
        margin-right: 10px;
      }
    }
  }
}

@include mobile {
  .headerContainerMain {
    .headerMaincontainerProduct {
      padding-right: 16px;
      padding-left: 16px;

      .headerSectionOne {
        display: flex;
        align-items: center;

        .menu {
          display: flex;
          height: 44px;
        }
        .logoHeader {
          display: none;
        }
      }

      .headerSectionTwo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .centerContent {
          display: none;
        }

        .translateContainer {
          display: none;
        }
        .addBtn {
          display: none;
        }

        .profileConfimContainer {
          display: none;
        }
        .profileContainer {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 10px;
          margin-left: 10px;
        }
        .userIcon {
          height: 24px;
          width: 24px;
          margin-right: 15px;
          margin-left: 0px;
        }
        .link {
          font-size: 14px;
          font-weight: 500;
          color: $gray7;
          font-family: $poppins;
          &:hover,
          &:focus {
            color: $orange3;
          }
        }

        .confirmcontainerAfterLogin {
          display: none;
          justify-content: space-between;
          align-items: center;
        }
        .customLink {
        }

        .mobileHeader {
          display: flex;
          align-items: center;
          flex-direction: row;

          .userIconMobile {
            height: 26px;
            width: 26px;
            margin-right: 20px;
          }
          .userIconAcc {
            height: 26px;
            width: 26px;
          }
          .userIconAccDrop {
            height: 9px;
            width: 13px;
            margin-left: 12px;
          }
        }
      }
    }
    .grayContainer {
      padding-right: 22px;
      padding-left: 22px;
    }


    
  }
}

@include tablet-portrait {
  .headerContainerMain {
    position: fixed;
    z-index: 99;
    width: 100%;
    .headerMaincontainerProduct {
      padding-right: 20px;
      padding-left: 20px;

      .headerSectionTwo {
        .serchSection {
          display: none;
        }
        .translateContainer {
          display: none;
        }

        .profileConfimContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .profileContainer {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 10px;
          margin-left: 10px;

          .productlink {
            display: none;
          }
        }
        .userIcon {
          height: 24px;
          width: 24px;
          margin-right: 15px;
          margin-left: 0px;
        }
        .link {
          font-size: 14px;
          font-weight: 500;
          color: $gray7;
          font-family: $poppins;
          &:hover,
          &:focus {
            color: $orange3;
          }
        }

        .confirmcontainerAfterLogin {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .customLink {
        }

        .mobileHeader {
          display: none;
        }
      }
    }
    .grayContainer {
      width: 100%;
      background-color: $gray18;
      height: 49px;
      align-items: center;
      display: flex;
      padding-right: 20px;
      padding-left: 20px;
      top: 64.4px;

      .iconCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        .hederIcon {
          height: 20px;
          width: 20px;
          margin-right: 16px;
        }
        .hederIconForward {
          height: 16px;
          width: 16px;
          margin-right: 14px;
        }
        .clothsLink {
          color: $gray7;
          font-size: 12px;
          font-weight: 500;
          font-family: $poppins;
        }
      }
    }
  }
}

@include tablet-landscape {
  .headerContainerMain {
    position: fixed;
    z-index: 99;
    width: 100%;
    .headerMaincontainerProduct {
      padding-right: 20px;
      padding-left: 20px;

      .headerSectionTwo {
        .serchSection {
          display: none;
        }
        .translateContainer {
          display: none;
        }

        .profileConfimContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .profileContainer {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 10px;
          margin-left: 10px;

          .productlink {
            display: none;
          }
        }
        .userIcon {
          height: 24px;
          width: 24px;
          margin-right: 15px;
          margin-left: 0px;
        }
        .link {
          font-size: 14px;
          font-weight: 500;
          color: $gray7;
          font-family: $poppins;
          &:hover,
          &:focus {
            color: $orange3;
          }
        }

        .confirmcontainerAfterLogin {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .customLink {
        }

        .mobileHeader {
          display: none;
        }
      }
    }
    .grayContainer {
      width: 100%;
      background-color: $gray18;
      height: 49px;
      align-items: center;
      display: flex;
      padding-right: 20px;
      padding-left: 20px;
      top: 64.4px;

      .iconCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        .hederIcon {
          height: 20px;
          width: 20px;
          margin-right: 16px;
        }
        .hederIconForward {
          height: 16px;
          width: 16px;
          margin-right: 14px;
        }
        .clothsLink {
          color: $gray7;
          font-size: 12px;
          font-weight: 500;
          font-family: $poppins;
        }
      }
    }
  }
}

.menuModal {
  .ant-modal {
    margin: 0 auto;
    max-width: 100%;
    top: 0;
    position: fixed;

    .ant-modal-content {
      background-color: #f2f2f2;
      height: 100vh;

      .ant-modal-header {
        display: none;
        height: 44px;
        .ant-modal-title {
          display: none;
        }
      }
      .ant-modal-body {
        background-color: #f2f2f2;
        padding: 40px 20px 40px 20px;
        height: 100%;
        .modalContainer {
          display: flex;
          flex-direction: column;
          padding: 20px 4px 0px 4px;
          position: relative;
          height: 100%;
          .headerMenuIcon {
            height: 20px;
            width: 20px;
            margin-right: 13px;
          }
          .modalCont {
            height: 60px;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-left: 10px;
            width: 200px;
            border-bottom: 0.5px solid $gray15;
          }
          .customCont {
            border-bottom: none;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 15px;
            .linkContainer {
              display: flex;
              margin-top: 15px;
              flex-direction: column;
              padding-left: 32px;

              .linkNew {
                font-size: 14px;
                font-weight: 600;
                font-family: $railWay;
                color: $gray7;
                margin-bottom: 20px;
              }
            }
          }
          .linkModal {
            color: $gray7;
            font-size: 16px;
            font-weight: 600;
            font-family: $railWay;
            display: flex;
          }
        }

        .footerText {
          text-align: center;
          color: $gray15;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .ant-modal-footer {
        display: none;
      }
    }
  }
}
