.ant-input-suffix {
  display: none;
}
.ant-input-suffix {
  display: none !important;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: none;
}
input[type="radio" i]:focus-visible {
  outline-offset: 0px;
}
:focus-visible {
  outline: none;
  box-shadow: none;
}
.ant-radio-input:focus + .ant-radio-inner {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: $gray3 !important;
  background-color: #ffffff !important;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.ant-input:focus {
  border-color: none;
  box-shadow: none !important;
  border-right-width: 0px;
  outline: 0;
}
.ant-input {
  ::placeholder {
    opacity: 1;
    color: red;
  }
}
.ant-btn {
  box-shadow: none;
}
.shipingButton.ant-btn:hover,
.shipingButton.ant-btn:focus {
  box-shadow: none;
}

::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: $poppins;
  color: $gray7 !important;
  opacity: 1 !important;

  @include mobile {
    font-size: 14px;
  }
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  font-weight: 500;
  font-family: $poppins;
  color: $gray7 !important;
  opacity: 1 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 16px;
  font-weight: 500;
  font-family: $poppins;
  color: $gray7 !important;
  opacity: 1 !important;
}

.hederdropdown {
  left: 264px !important;
  top: 55px !important;
  width: 165px;
}

.profileDropDown {
  top: 55px !important;
  min-width: 165px;
  max-width: 100%;
  z-index: 1;
  right: 0px !important;
  left: 1180px !important;
  .ant-dropdown-menu-title-content {
    color: $gray7;
    font-size: 16px;
    font-weight: 600;
  }

  .ant-dropdown-menu-title-content .logoutText {
    color: $orange2;
    font-size: 16px;
    font-weight: 600;
    margin-top: 150px;
  }
  @include tablet-portrait {
    width: 165px;
    left: 601px !important;
    top: 60px !important;
  }

  @include tablet-landscape {
    width: 165px;
    left: 854px !important;
    top: 61px !important;
  }
}

.homedropdown {
  width: 165px;
  left: 392px !important;
  top: 445px !important;
  // max-width:max-content

  @include tablet-portrait {
    width: 165px;
    left: 101px !important;
    top: 366px !important;
  }

  @include tablet-landscape {
    width: 165px;
    left: 229px !important;
    top: 411px !important;
  }
}
// .selectDropddown {
//   top: 500px !important;
//   left: 112px !important;
//   width: 142px;
//   margin-bottom: 30px;
// }

// checkbox
.checkCreateProduct {
  color: $black3;

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $orange2;
    border-radius: 4px;
    border: $orange2;
    box-shadow: none;

    &:hover,
    &:focus {
      border: 1px solid #d1d1d6;
    }
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner {
    border: $orange2;
    box-shadow: none;
  }
  .ant-checkbox-checked::after {
    border: $orange2;
  }
  .ant-checkbox-checked::before {
    border: $orange2;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $gray16;
  }
}

.shipingButton .ant-btn:active {
  border: none !important;
  box-shadow: none;
}

.howItsWorkMobile {
  .ant-carousel {
    color: rgba(0, 0, 0, 0.85);
    font-family: $poppins;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: -10px 10px auto 0px;
    padding: 0px 0px 30px 0px;

    height: 350px;
    width: 100%;

    .ant-carousel .slick-slide img {
      align-items: center;
      display: flex;
      height: auto;
      width: "100%";
    }
    .ant-carousel .slick-dots li button {
      background: red;
      border-radius: 99px;
      border: 0;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 40px;
      margin-left: 12px;
      margin-top: 25px;
      opacity: 1;
      outline: none;
      padding: 20;
      transition: all 10s;
      width: 10px;
      height: 10px;
    }

    .slick-dots li button {
      background: $gray13;
      opacity: 1;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      margin-top: 20px;
    }
    .slick-dots li.slick-active button {
      background: black;
      opacity: 1;
    }
  }
}

.thisIsTrendingMobile {
  .ant-carousel {
    color: rgba(0, 0, 0, 0.85);
    font-family: $poppins;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: -10px 10px auto 0px;
    padding: 0px 0px 30px 0px;

    height: 350px;
    width: 100%;

    .ant-carousel .slick-slide img {
      align-items: center;
      display: flex;
      height: auto;
      width: "100%";
    }
    .ant-carousel .slick-dots li button {
      background: red;
      border-radius: 99px;
      border: 0;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 40px;
      margin-left: 12px;
      margin-top: 25px;
      opacity: 1;
      outline: none;
      padding: 20;
      transition: all 10s;
      width: 10px;
      height: 10px;
    }

    .slick-dots li button {
      background: $gray13;
      opacity: 1;
      height: 15px;
      width: 15px;
      border-radius: 50px;
      margin-top: 20px;
    }
    .slick-dots li.slick-active button {
      background: black;
      opacity: 1;
    }
  }
}
// @include mobile {
//   .howItsWorkMobile {
//     .ant-carousel {
//       box-sizing: border-box;
//       color: rgba(230, 25, 25, 0.85);
//       font-family: $poppins;
//       font-size: 14px;
//       font-variant: tabular-nums;
//       line-height: 1.5715;
//       list-style: none;
//       margin: 0px 0px 0px 0px;
//       padding: 0px;
//       text-align: center;
//     }
//     .ant-carousel .slick-slide img {
//       height: 700px;
//       margin-left: 0px;
//       width: 700px;
//     }
//     .ant-carousel .slick-dots li button {
//       background: $blue2;
//       cursor: pointer;
//       display: block;
//       font-size: 0;
//       height: 15px;
//       margin-left: 5px;
//       margin-top: 10px;
//       opacity: 1;
//       outline: none;
//       padding: 0;
//       transition: all 0s;
//       width: 15px;
//     }
//   }
// }

.ant-tabs {
  width: 100%;

  .ant-tabs-tab {
    width: 100%;
    color: $black;
    &:hover {
      color: $black;
    }
    .ant-tabs-tab-btn {
      width: 339px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      font-family: $railWay;
      color: $black !important;
      &:focus,
      &:active,
      &:hover {
        color: $black;
      }
    }
  }
  .ant-tabs-ink-bar {
    background: $black !important;
  }
}

@include mobile {
  .ant-tabs {
    width: 100%;

    .ant-tabs-tab {
      width: 50%;

      .ant-tabs-tab-btn {
        width: 142px;

        font-size: 14px;
      }
    }
  }
}

@include tablet-portrait {
  .ant-tabs {
    width: 100%;

    .ant-tabs-tab {
      width: 50%;

      .ant-tabs-tab-btn {
        width: 167px;

        font-size: 14px;
      }
    }
  }
}

@include tablet-landscape {
  .ant-tabs {
    width: 100%;

    .ant-tabs-tab {
      width: 50%;

      .ant-tabs-tab-btn {
        width: 262px;

        font-size: 14px;
      }
    }
  }
}
