.postAdMainContainer {
  height: 100vh;
  overflow-x: hidden;
  width: 100%;
  .postAdContainer {
    width: 100%;
    background-color: $white;
    height: 64px;
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .placeAdLogo {
      height: 50px;
    }
    .cancelLink {
      color: $gray8;
      font-size: 20px;
      font-weight: 500;
      font-family: $railWay;
    }
  }

  .postAdMiddleContainer {
    background-color: $gray14;
    height: 90.2vh;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .subContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .mainHead {
        color: $black2;
        font-size: 24px;
        font-weight: 700;
        font-family: $railWay;
        margin-right: 330px;
      }
      .cardContainer {
        justify-content: center;
        margin-left: 340px !important;
        margin-right: 400px !important;
        display: flex;
        .whiteBox {
          height: 72px;
          width: 300px;
          background-color: $white;
          padding: 20px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
         

          .cardImg {
            height: 40px;
            width: 40px;
          }
          .cardText {
            font-size: 16px;
            font-weight: 500;
            color: $darkblue;
            margin-bottom: 0;
            margin-left: 15px;
          }
        }
        .whiteBox2 {
          width: 191px;
        }
        .marginBox {
          margin-top: 18px;
        }
        .colProduct {
          display: flex;
          justify-content: center;
      
       
         padding-left: 0 !important;
         padding-right: 0px !important;
        }
        .colContMain {
          background-color: purple;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}

@include mobile {
  .postAdMainContainer {
    .postAdContainer {
      padding-left: 16px;
      padding-right: 16px;

      .placeAdLogo {
        height: 42px;
      }
      .cancelLink {
        font-size: 16px;
      }
    }

    .postAdMiddleContainer {
      height: 100%;
      padding-top: 31px;
      padding-left: 16px;
      padding-right: 5px;
      padding-bottom: 16px;

      .subContainer {
        align-items: flex-start;

        .mainHead {
          font-size: 16px;
          margin-right: 0px;
        }
        .cardContainer {
        
          
        margin-left: 0px !important;
        margin-right: 10px !important;
        display: flex;
          .whiteBox {
            width: 100%;

            // margin-left: 130px;

            .cardImg {
              height: 40px;
              width: 40px;
            }
            .cardText {
              font-size: 14px;
            }
          }
          .whiteBox2 {
            width: 100%;
          }
          .marginBox {
            margin-top: 18px;
          }
        }
      }
    }
  }
}

@include tablet-portrait {
  .postAdMainContainer {
    height: 100%;
    .postAdContainer {
      padding-left: 16px;
      padding-right: 16px;
    }

    .postAdMiddleContainer {
      height: 93.7vh;
      padding-top: 48px;

      .subContainer {
        .mainHead {
          font-size: 20px;
          margin-right: 345px;
        }
        .cardContainer {
        
          
          margin-left: 50px !important;
          margin-right: 50px !important;
          display: flex;
          
        }
      }
    }
  }
}

@include tablet-landscape {
  .postAdMainContainer {
    height: 100%;
    .postAdContainer {
      padding-left: 16px;
      padding-right: 16px;
    }

    .postAdMiddleContainer {
      height: 91.6vh;
      padding-top: 48px;

      .subContainer {
        .mainHead {
          font-size: 20px;

          margin-right: 335px;
        }
        .cardContainer {
        
          
          margin-left: 190px !important;
          margin-right: 190px !important;
          display: flex;
        }
      }
    }
  }
}
