.outerMain {
  width: 130px;

  text-align: center;

  .outerContainer {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 129px;
    width: 100px;
    height: 100px;
    margin-right: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
  
    &:hover .discoverImg {
  transform: scale(1.2);
}

    .discoverImg {
      height: 52px;
      width: 52px;
      transition: transform 0.25s;
    }
  }
  .itemTitle {
    color: $gray8;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;

    font-family: $poppins;
    margin-right: 16px;
  }
}

@include mobile {
  .outerMain {
    width: 80px;
    text-align: center;
    margin-bottom: -30px;
    margin-right: 60px;
    .outerContainer {
      box-shadow: 0px 2.27692px 2.27692px rgba(0, 0, 0, 0.25);
      border-radius: 73px;
      width: 56px;
      height: 56px;

      .discoverImg {
        height: 29px;
        width: 29px;
      }
    }
    .itemTitle {
      font-size: 9px;
      margin-right: 13px;
    }
  }
}

@include tablet-portrait {
  .outerMain {
    width: 150px;
  
    text-align: center;
  
    .outerContainer {
     
      width: 125px;
      height: 125px;
   
    
  
      .discoverImg {
        height: 60px;
        width: 60px;
      }
    }
    
  }
}

@include tablet-landscape {
  .outerMain {
    width: 180px;
  
    text-align: center;
  
    .outerContainer {
     
      width: 170px;
      height: 170px;
   
    
  
      .discoverImg {
        height: 70px;
        width: 70px;
      }
    }
    
  }
}
