.mainFooterContainer {
  padding: 40px 72px 10px 72px;
  position: relative;

  // background-color: $white;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 5px solid #f84f3966;
  background-color: $white;

  border-image: repeating-linear-gradient(
      90deg,
      rgba(248, 79, 57, 0.7),
      rgba(248, 79, 57, 0.4),
      rgba(248, 79, 57, 0.8)
    )
    10;

  .footerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    .footerContent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 25%;
      .footerMainHead {
        font-size: 24px;
        font-weight: 700;
        color: $darkBlue1;
        font-family: $railWay;
        margin: 0;
        margin-bottom: 17px;
      }
      .footerLink {
        font-size: 16px;
        font-weight: 500;
        font-family: $poppins;
        color: $gray12;
        margin-bottom: 12px;
      }
    }
  }
  .socialMediaContainer {
    border: 1.5px solid $gray5;
    height: max-content;
    border-right: none;
    border-left: none;
    padding: 22px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 682px;
    .socialMediaSection {
      width: 220px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialIcon {
        height: 37px;
        width: 37px;
      }
      .line {
      }
    }
    .btnSectionFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      .FooterBtn {
        height: 40px;
        width: 128px;
        margin-left: 35px;
      }
    }
  }
  // .footerText {

  //   margin-top: 22px;
  //   font-size: 16px;
  //   font-weight: 400;
  //   color: $gray8;
  // }
  .customFooterText {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    color: $black;
  }
}
.termsContainer {

  padding: 100px 200px 100px 200px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.contHead {
  text-align: center;
}
.privacyContent {
display: flex;
flex-direction: row;
width: 100%;
margin-bottom: 10px;
}
.informtionHead {
min-width: max-content;
margin-right: 5px;
}

@include mobile {
  .mainFooterContainer {
    padding: 30px 10px 30px 20px;

    .footerContainer {
      .footerContent {
        .footerMainHead {
          font-size: 16px;
        }
        .footerLink {
          font-size: 14px;
        }
      }
    }
    .socialMediaContainer {
      border: none;
      padding-top: 5px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      .socialMediaSection {
        width: 100%;

        .socialIcon {
          height: 18px;
          width: 18px;
        }
        .line {
          display: none;
        }
      }
      .btnSectionFooter {
        display: none;
      }
    }
    .customFooterText {
      margin-top: 0px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }
}

@include tablet-portrait {
  .mainFooterContainer {
    padding: 38px 40px 38px 40px;

    .footerContainer {
      .footerContent {
        .footerMainHead {
          font-size: 16px;
        }
        .footerLink {
          font-size: 14px;
        }
      }
    }
    .socialMediaContainer {
      border: 1.5px solid $gray5;
      height: max-content;
      border-right: none;
      border-left: none;
      padding: 22px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      width: 682px;
      .socialMediaSection {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .socialIcon {
          height: 37px;
          width: 37px;
          margin-right: 20px;
        }
        .line {
          margin-left: 10px;
          margin-right: 40px;
        }
      }
      .btnSectionFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        .FooterBtn {
          height: 40px;
          width: 128px;
          margin-left: 120px;
        }
        .appleBtn {
          margin-left: 20px;
        }
      }
    }
    .customFooterText {
      margin-bottom: 0px;
      align-items: center;
      text-align: center;
    }
  }
}

@include tablet-landscape {
  .mainFooterContainer {
    padding: 50px 50px 50px 50px;

    .footerContainer {
      .footerContent {
        .footerMainHead {
          font-size: 17px;
        }
        .footerLink {
          font-size: 15px;
        }
      }
    }
    .socialMediaContainer {
      .socialMediaSection {
        .socialIcon {
          height: 38px;
          width: 38px;
          margin-right: 20px;
        }
        .line {
          margin-left: 10px;
          margin-right: 0px;
        }
      }
      .btnSectionFooter {
        .FooterBtn {
          height: 40px;
          width: 128px;
          margin-left: 50px;
        }
        .appleBtn {
          margin-left: 30px;
        }
      }
    }
    .customFooterText {
      margin-bottom: 0px;
      margin-top: 30px;
      align-items: center;
      text-align: center;
    }
  }
}
